<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <variable name="BaseDir" value="${basedir}\logs"/>


  <targets>
    <target xsi:type="File" name="allfile" fileName="${BaseDir}\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="ownFile-web" fileName="${BaseDir}\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

      <target name="elasticTarget" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"              
              uri="http://<elasticserver>:9200"              
              includeAllProperties="True">
        
        <field name="date" layout="${date}"/>
        <field name="level" layout="${level:upperCase=true}"/>
        <field name="logger" layout="${logger}"/>
        <field name="message" layout="${message}"/>
        <field name="orderid" layout="${event-properties:orderid}"/>
        <field name="exception" layout="${exception}"/>
        <field name="eventproperties" layout="${all-event-properties}"/>
        
      </target>
    </target>
  
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!-- Skip non-critical Microsoft logs and so log only own logs -->
    <!-- Following line: BlackHole without writeTo -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />        
    <logger name="*" minlevel="Trace" writeTo="ownFile-web,elasticTarget" />
  </rules>
</nlog>