<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <!--<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
    </container>
  </unity>-->

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Some.Library.Custom"/>
    <assembly name="Some.Library.Interfaces"/>
    <alias alias="ICustomer" type="Some.Library.Interfaces.ICustomer, Some.Library.Interfaces"/>
    <alias alias="Customer" type="Some.Library.Custom.Customer, Some.Library.Custom"/>
    <container>
      <register type="ICustomer" mapTo="Customer"/>
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>