@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Math</h1>
</div>


<div class="mb-3 row">
    <label for="firstNoText" class="col-sm-2 col-form-label">Enter first no:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="firstNoText" value="10">
    </div>
</div>
<div class="mb-3 row">
    <label for="secondNoText" class="col-sm-2 col-form-label">Enter second no:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="secondNoText" value="20">
    </div>
</div>
<div class="mb-3 row">
    <button type="button" class="btn btn-primary mb-3" onclick="app.doSum()">Do Sum</button>
</div>
<div class="mb-3 row">
    <button type="button" class="btn btn-primary mb-3" onclick="app.doMultiply()">Do Multiply</button>
</div>
<div id="resultPanel" class="mb-3 row invisible">
    <label for="resultText" class="col-sm-2 col-form-label">Result</label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="resultText">
    </div>
</div>

@section Scripts {
    <script>
        var app = app || {};
        app.doSum = function () {
            var a = $("#firstNoText").val();
            var b = $("#secondNoText").val();
            var o = { a: a, b: b };
            $.ajax({
                method: "POST",
                url: "/Math/Sum",
                data: o
            })
                .done(function (result) {
                    $("#resultPanel").removeClass("invisible");
                    $("#resultText").val(result);                    
                })
                .fail(function (err) {
                    alert("ERROR:" + err.responseText);
                });
        }
        app.doMultiply = function () {
            var a = $("#firstNoText").val();
            var b = $("#secondNoText").val();
            var o = { a: a, b: b };
            $.ajax({
                method: "POST",
                url: "/Math/Multiply",
                data: o
            })
                .done(function (result) {
                    $("#resultPanel").removeClass("invisible");
                    $("#resultText").val(result);
                })
                .fail(function (err) {
                    alert("ERROR:" + err.responseText);
                });
        }
    </script>
}