<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="BaseDir" value="${basedir}\logs"/>

  <targets>
    <target name="logfile" xsi:type="File" fileName="${BaseDir}\log1.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>

</nlog>

<!-- Just other ways of configuring things -->
<!--
<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" autoReload="true" internalLogLevel="Error">
  <variable name="BaseDir" value="${basedir}\logs"/>
  <targets>
    <target
      xsi:type="AsyncWrapper"
      name="AllTrace">

      <target name="File" xsi:type="File"
              fileName="${BaseDir}\${shortdate}-TRACE.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="iso-8859-2"
      >
        <layout xsi:type="CsvLayout">
          <column name="level" layout="${level}"/>
          <column name="time" layout="${longdate}" />
          <column name="logger" layout="${logger}"/>
          <column name="message" layout="${message}" />
          <column name="exception" layout="${exception:format=tostring}" />
        </layout>
      </target>
    </target>

    <target
      xsi:type="AsyncWrapper"
      name="AllErrors">
      <target name="File" xsi:type="File"
              fileName="${BaseDir}\${shortdate}-ERRORS.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="iso-8859-2"
      >
        <layout xsi:type="CsvLayout">
          <column name="time" layout="${longdate}" />
          <column name="logger" layout="${logger}"/>
          <column name="message" layout="${message}${newline}" />
          <column name="exception" layout="${exception:format=tostring}" />
          <column name="stacktrace" layout="${exception:format=ToString,StackTrace}" />
        </layout>
      </target>
    </target>

  </targets>

  <rules>
    <logger name="*" writeTo="AllErrors" minLevel="Error" maxLevel="Error"/>
    <logger name="*" writeTo="AllTrace" minLevel="Trace" />
  </rules>

</nlog>-->