<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  
  <variable name="BaseDir" value="${basedir}\logs"/>
  
  <targets>

    <target xsi:type="File" name="fileTarget" fileName="${BaseDir}\console-example.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

    <target xsi:type="Console" name="consoleTarget"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

    <target name="elasticTarget" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"
              uri="http://<elasticserver>:9200"
              includeAllProperties="True">
        
        <field name="date" layout="${date}"/>
        <field name="level" layout="${level:upperCase=true}"/>
        <field name="logger" layout="${logger}"/>
        <field name="message" layout="${message}"/>
        <field name="orderid" layout="${event-properties:orderid}"/>
        <field name="exception" layout="${exception}"/>
        <field name="eventproperties" layout="${all-event-properties}"/>
        
      </target>
    </target>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget,elasticTarget" />
  </rules>
</nlog>
