<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
	<!--
	NOTE:
		- These settings are optional.
		- Remove all entries (down) in order to fallback to default implementation
	-->
	<!-- IoC Settings: Start -->
	<!-- need to copy the assembly manually to bin folder of app (dynamic) -->
	<!--
    <add key="IoC_Impl_Assembly" value="Some.Library.Implementation.Custom.dll"/> 
    <add key="IoC_Impl_ICalc_Class" value="Some.Library.Implementation.Custom.Services.Implementations.CustomCalc"/>	
	-->
	<!-- IoC Settings: End -->
  </appSettings>
</configuration>