<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="BaseDir" value="${basedir}\logs"/>

  <targets>
    <target name="logfile" xsi:type="File" fileName="${BaseDir}\log.txt" />
    <target name="errorlogfile" xsi:type="File" fileName="${BaseDir}\log-ERRORS.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="errorlogfile" />
  </rules>

</nlog>
