@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
}


<base href="/Demo" />
<link rel="manifest" href="/manifest.json">
<link href="/static/css/main.71231533.css" rel="stylesheet">
<noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div>
<script type="text/javascript" src="/static/js/main.6112693c.js"></script>
